<!DOCTYPE html>
<html>

  <%- include ./partials/head %>

  <body>
	
	<%- include ./partials/header %>	
	
	<main>

        <%- include ./partials/upload %>
        <%- include ./partials/search %>
        
        <% if(data) { %>
        <%- include ./partials/filetable %>
        <% } %>

    </main>
    <%- include ./partials/footer %>
    <%- include ./partials/script %>
  </body>
</html>
